 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Frameworks</h2>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <i class="devicon-yii-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>{{ site.frameworks_text }}</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>{{ site.code_text }}</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <i class="devicon-phpstorm-plain-wordmark colored"></i>
      <p>{{ site.tools_text }}</p>
    </div>
</div>
