<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="javascript" src="{{ "/assets/img/javascript.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> JavaScript hardver programing </h3>
    <ul>
      <li> JavaScript, MQTT, Arduino</li>
    </ul>
    <p>In this article I describe the current status of JavaScript in the IoT world. I'm also introducing a simple relay program that can be controlled via a cloud application. (Hungarian speaking site)</p>
    <a class="project-link" href="https://novucode.com/javascript-hardverprogramozas.html" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="meetup" src="{{ "/assets/img/meetup.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DIY Smart Home Meetup </h3>
    <ul>
      <li> Arduino, C, JavaScript</li>
    </ul>
    <p>I started the Smart Home meetup series in Budapest. Its main purpose is to share knowledge. In these meetups I also present myself mainly on development topics. (Hungarian speaking site)</p>
    <a class="project-link" href="https://www.facebook.com/groups/diysmarthome/" target="_blank">Check it out</a>
  </div>
</div>
